*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding:30px;
    border: 1px solid black;
    margin-top: 10px;
    background-color:cadetblue;
    color:aliceblue
}

ul{
    display: flex;
}

li{
    list-style: none;
    padding-left: 10px;
}


