*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    background-color: rgb(59, 57, 57);
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 200px);
    padding: 4rem;
    border: 2px solid white;
    /* justify-items: center;
    align-items: center; */
    place-items: center;    /*To Implement Both Axis*/
}

.item{
    height: 100px;
    width: 100px;
    background-color: rgb(39, 132, 132);
    border: 5px solid rgb(232, 226, 226);
    /*justify-self: start; /*Horizontal Axis*/
    /*align-self: center; /*Vertical Axis*/
    /*place-self: center; /*Both Axis*/
}