*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10%;
}

.navbar{
    height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    display:flex;
}

li{
    list-style: none;
}
img{
    width: 25px;
    height: 25px;
    fill: white;
    color:white;
}